.indexaction {
  background: url("../images/index_n_26.jpg") no-repeat center top !important; }
  .indexaction > a {
    color: #ff7200 !important; }

#header {
  width: 100%; }
  #header > .topNav {
    height: 32px;
    position: relative;
    z-index: 99;
    background: url("../images/repxBg.png") repeat-x 0 0; }
    #header > .topNav > .top-text {
      margin: 0 auto; }
      #header > .topNav > .top-text > div {
        display: inline-block; }
      #header > .topNav > .top-text > .t-left > span {
        font-size: 11px;
        line-height: 32px; }
      #header > .topNav > .top-text > .t-left > span:nth-of-type(3) {
        color: #ff6923;
        font-weight: 600; }
      #header > .topNav > .top-text > .t-right {
        float: right; }
        #header > .topNav > .top-text > .t-right > a {
          color: #767676;
          font-size: 11px;
          line-height: 32px;
          margin-left: 13px; }
        #header > .topNav > .top-text > .t-right > a:nth-of-type(3) {
          font-size: 12px;
          color: #000;
          font-weight: 500; }
        #header > .topNav > .top-text > .t-right > span {
          margin-left: 5px;
          font-size: 11px;
          line-height: 32px; }
          #header > .topNav > .top-text > .t-right > span > a {
            color: #ff6923; }
  #header > .logoArea {
    height: 86px;
    background: url("../images/repxBg.png") repeat-x 0 -32px; }
    #header > .logoArea > .area-center {
      margin: 0 auto; }
      #header > .logoArea > .area-center > span {
        display: block; }
      #header > .logoArea > .area-center > span:nth-of-type(1) {
        float: left;
        padding-top: 12px; }
        #header > .logoArea > .area-center > span:nth-of-type(1) a img {
          width: 300px;
          height: 58px; }
      #header > .logoArea > .area-center > span:nth-of-type(2) {
        float: right;
        padding-top: 8px; }
  #header > .navgation {
    height: 36px;
    background: url("../images/repxBg.png") repeat-x 0 -128px; }
    #header > .navgation > .top-nav {
      margin: 0 auto; }
      #header > .navgation > .top-nav > ul > li:hover {
        background: url("../images/index_n_26.jpg") no-repeat center top; }
        #header > .navgation > .top-nav > ul > li:hover > a {
          color: #ff7200; }
        #header > .navgation > .top-nav > ul > li:hover > ul {
          display: block; }
      #header > .navgation > .top-nav > ul > li {
        height: 36px;
        line-height: 36px;
        float: left;
        overflow: visible;
        text-align: center;
        border-right: solid 1px #2d7ab6;
        border-left: solid 1px #6aade0; }
        #header > .navgation > .top-nav > ul > li > a {
          padding: 0 16px;
          font-size: 15px;
          color: #fff;
          font-weight: 300; }
        #header > .navgation > .top-nav > ul > li > ul {
          position: absolute;
          background-color: #fff;
          display: none;
          width: 130px;
          padding-bottom: 5px;
          border: 1px solid #f5c43c;
          -webkit-border-radius: 0 0 5px 5px;
                  border-radius: 0 0 5px 5px;
          margin-top: -1px;
          z-index: 20; }
          #header > .navgation > .top-nav > ul > li > ul li a {
            font-size: 12px;
            display: block;
            font-weight: 500;
            height: 30px;
            line-height: 30px; }
          #header > .navgation > .top-nav > ul > li > ul li a:hover {
            display: block;
            height: 30px;
            color: #fff;
            line-height: 30px;
            background-color: #ff8e16; }

#footer {
  font-size: 12px;
  color: #656565;
  width: 100%;
  background: url("../images/footerBg.png") repeat-x 0 0;
  padding: 35px 0 70px;
  margin-top: 20px; }
  #footer > div {
    text-align: center;
    line-height: 28px; }

.adviser-j {
  color: #ff8400; }

#adviserlive .adviserlive-nb {
  margin: 0 auto;
  width: 976px; }
  #adviserlive .adviserlive-nb > .adviserlive-banner {
    margin: 0 auto;
    height: 88px; }
  #adviserlive .adviserlive-nb > .adviserlive-nav {
    height: 35px;
    background: url("../images/Vnavbg.png"); }
    #adviserlive .adviserlive-nb > .adviserlive-nav ul {
      padding-left: 20px; }
      #adviserlive .adviserlive-nb > .adviserlive-nav ul li {
        float: left; }
        #adviserlive .adviserlive-nb > .adviserlive-nav ul li a {
          font-size: 15px;
          color: #fffad5;
          line-height: 35px;
          padding: 0 15px; }

#adviserlive .adviserlive-content {
  margin: 0 auto;
  background: url("../images/Vbg.gif");
  border: 1px solid #c7c295;
  margin-top: 3px;
  position: relative;
  padding-bottom: 0; }
  #adviserlive .adviserlive-content .diviser-play {
    margin: 10px 0 0 10px;
    float: left;
    border: 1px solid #c7c295;
    width: 680px;
    height: 220px;
    font-size: 12px;
    background: #fff url("../images/playbg.jpg") right top no-repeat;
    background-size: 100% 100%;
    overflow: hidden; }
    #adviserlive .adviserlive-content .diviser-play > .play-left .play-top .playimg {
      width: 85px;
      height: 85px;
      float: left;
      margin: 15px 0 0 10px; }
      #adviserlive .adviserlive-content .diviser-play > .play-left .play-top .playimg img {
        width: 85px; }
    #adviserlive .adviserlive-content .diviser-play > .play-left .play-top .play-t {
      float: left;
      margin: 15px 0 0 10px; }
      #adviserlive .adviserlive-content .diviser-play > .play-left .play-top .play-t > div:nth-of-type(1) {
        font-weight: 600; }
      #adviserlive .adviserlive-content .diviser-play > .play-left .play-top .play-t > div {
        line-height: 22px; }
        #adviserlive .adviserlive-content .diviser-play > .play-left .play-top .play-t > div a {
          background-color: #fdb635;
          padding: 6px 14px;
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          font-size: 12px;
          color: #fff; }
    #adviserlive .adviserlive-content .diviser-play > .play-left .play-middle {
      font-weight: 600;
      margin-left: 10px;
      margin-top: 12px;
      line-height: 22px; }
      #adviserlive .adviserlive-content .diviser-play > .play-left .play-middle .middle-a .middle-content {
        font-weight: 300; }
    #adviserlive .adviserlive-content .diviser-play > .play-right img {
      width: 167px;
      height: 168px;
      margin-top: 32px;
      margin-left: 38px; }
  #adviserlive .adviserlive-content .adviserlive-live {
    margin: 10px auto 0; }
    #adviserlive .adviserlive-content .adviserlive-live .adviser-li {
      padding-top: 5px;
      height: 38px;
      padding: 0 15px;
      margin-top: 5px;
      background: url("../images/rx.png") 0 -66px;
      overflow: hidden; }
      #adviserlive .adviserlive-content .adviserlive-live .adviser-li ul {
        padding-top: 5px;
        padding-left: 10px; }
        #adviserlive .adviserlive-content .adviserlive-live .adviser-li ul li {
          float: left;
          line-height: 32px;
          font-size: 14px;
          margin-left: 3px;
          padding: 0 15px;
          background-color: #faf8ef;
          -webkit-border-radius: 3px;
                  border-radius: 3px;
          cursor: pointer; }
        #adviserlive .adviserlive-content .adviserlive-live .adviser-li ul li:nth-of-type(1) {
          margin-left: 0; }
        #adviserlive .adviserlive-content .adviserlive-live .adviser-li ul .action {
          background-color: #fdb635;
          color: #fff; }
  #adviserlive .adviserlive-content .adviser-reply .reply {
    display: none;
    width: 950px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #fcfbf6; }
    #adviserlive .adviserlive-content .adviser-reply .reply .replys {
      padding-bottom: 25px;
      border-bottom: 1px dotted #ccc; }
      #adviserlive .adviserlive-content .adviser-reply .reply .replys > .bloger {
        width: 61px;
        height: 68px;
        margin: 15px 0 0 15px; }
        #adviserlive .adviserlive-content .adviser-reply .reply .replys > .bloger img {
          width: 61px; }
      #adviserlive .adviserlive-content .adviser-reply .reply .replys > .blog {
        width: 800px;
        margin: 15px 0 0 15px;
        font-size: 12px; }
        #adviserlive .adviserlive-content .adviser-reply .reply .replys > .blog .bold {
          font-weight: 600; }
        #adviserlive .adviserlive-content .adviser-reply .reply .replys > .blog .blog-name > span:nth-of-type(2) {
          margin-left: 15px; }
        #adviserlive .adviserlive-content .adviser-reply .reply .replys > .blog .reply-message {
          line-height: 20px;
          margin-top: 15px; }
        #adviserlive .adviserlive-content .adviser-reply .reply .replys > .blog .question {
          padding: 10px 0 15px 10px;
          width: 800px;
          border: 1px solid #e5e5e5;
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          margin-top: 8px; }
          #adviserlive .adviserlive-content .adviser-reply .reply .replys > .blog .question .questionman > span:nth-of-type(1) {
            font-weight: 600; }
          #adviserlive .adviserlive-content .adviser-reply .reply .replys > .blog .question .questionman > span:nth-of-type(2) {
            margin-left: 15px; }
          #adviserlive .adviserlive-content .adviser-reply .reply .replys > .blog .question .questioncont {
            line-height: 20px;
            margin-top: 6px;
            text-indent: 25px; }
    #adviserlive .adviserlive-content .adviser-reply .reply .chat {
      width: 600px;
      height: 200px;
      margin: 10px;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      #adviserlive .adviserlive-content .adviser-reply .reply .chat .chat-div .chat-left {
        width: 40px;
        height: 200px;
        padding-left: 10px;
        padding-top: 10px; }
        #adviserlive .adviserlive-content .adviser-reply .reply .chat .chat-div .chat-left #iconImg {
          width: 210px;
          border: 1px solid #e5e5e5;
          background-color: #efefef;
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          position: absolute;
          margin-top: 5px;
          display: none; }
          #adviserlive .adviserlive-content .adviser-reply .reply .chat .chat-div .chat-left #iconImg ul li {
            float: left;
            cursor: pointer; }
            #adviserlive .adviserlive-content .adviser-reply .reply .chat .chat-div .chat-left #iconImg ul li img {
              padding: 1px; }
      #adviserlive .adviserlive-content .adviser-reply .reply .chat .chat-div .chat-right {
        width: 540px;
        margin-top: 8px;
        height: 180px;
        overflow-y: auto;
        line-height: 22px;
        font-size: 15px; }
    #adviserlive .adviserlive-content .adviser-reply .reply .replysub {
      width: 600px;
      padding-top: 10px;
      margin-bottom: 30px;
      text-align: right; }
      #adviserlive .adviserlive-content .adviser-reply .reply .replysub a {
        background-color: #fdb635;
        color: #fff;
        padding: 10px 45px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        font-size: 15px; }
      #adviserlive .adviserlive-content .adviser-reply .reply .replysub a:hover {
        color: #000000; }
  #adviserlive .adviserlive-content .adviser-reply .reply:nth-of-type(1) {
    display: block; }
