@charset "UTF-8";
.indexaction {
  background: url("../images/index_n_26.jpg") no-repeat center top !important; }
  .indexaction > a {
    color: #ff7200 !important; }

#header {
  width: 100%; }
  #header > .topNav {
    height: 32px;
    position: relative;
    z-index: 99;
    background: url("../images/repxBg.png") repeat-x 0 0; }
    #header > .topNav > .top-text {
      margin: 0 auto; }
      #header > .topNav > .top-text > div {
        display: inline-block; }
      #header > .topNav > .top-text > .t-left > span {
        font-size: 11px;
        line-height: 32px; }
      #header > .topNav > .top-text > .t-left > span:nth-of-type(3) {
        color: #ff6923;
        font-weight: 600; }
      #header > .topNav > .top-text > .t-right {
        float: right; }
        #header > .topNav > .top-text > .t-right > a {
          color: #767676;
          font-size: 11px;
          line-height: 32px;
          margin-left: 13px; }
        #header > .topNav > .top-text > .t-right > a:nth-of-type(3) {
          font-size: 12px;
          color: #000;
          font-weight: 500; }
        #header > .topNav > .top-text > .t-right > span {
          margin-left: 5px;
          font-size: 11px;
          line-height: 32px; }
          #header > .topNav > .top-text > .t-right > span > a {
            color: #ff6923; }
  #header > .logoArea {
    height: 86px;
    background: url("../images/repxBg.png") repeat-x 0 -32px; }
    #header > .logoArea > .area-center {
      margin: 0 auto; }
      #header > .logoArea > .area-center > span {
        display: block; }
      #header > .logoArea > .area-center > span:nth-of-type(1) {
        float: left;
        padding-top: 12px; }
        #header > .logoArea > .area-center > span:nth-of-type(1) a img {
          width: 300px;
          height: 58px; }
      #header > .logoArea > .area-center > span:nth-of-type(2) {
        float: right;
        padding-top: 8px; }
  #header > .navgation {
    height: 36px;
    background: url("../images/repxBg.png") repeat-x 0 -128px; }
    #header > .navgation > .top-nav {
      margin: 0 auto; }
      #header > .navgation > .top-nav > ul > li:hover {
        background: url("../images/index_n_26.jpg") no-repeat center top; }
        #header > .navgation > .top-nav > ul > li:hover > a {
          color: #ff7200; }
        #header > .navgation > .top-nav > ul > li:hover > ul {
          display: block; }
      #header > .navgation > .top-nav > ul > li {
        height: 36px;
        line-height: 36px;
        float: left;
        overflow: visible;
        text-align: center;
        border-right: solid 1px #2d7ab6;
        border-left: solid 1px #6aade0; }
        #header > .navgation > .top-nav > ul > li > a {
          padding: 0 16px;
          font-size: 15px;
          color: #fff;
          font-weight: 300; }
        #header > .navgation > .top-nav > ul > li > ul {
          position: absolute;
          background-color: #fff;
          display: none;
          width: 130px;
          padding-bottom: 5px;
          border: 1px solid #f5c43c;
          -webkit-border-radius: 0 0 5px 5px;
                  border-radius: 0 0 5px 5px;
          margin-top: -1px;
          z-index: 20; }
          #header > .navgation > .top-nav > ul > li > ul li a {
            font-size: 12px;
            display: block;
            font-weight: 500;
            height: 30px;
            line-height: 30px; }
          #header > .navgation > .top-nav > ul > li > ul li a:hover {
            display: block;
            height: 30px;
            color: #fff;
            line-height: 30px;
            background-color: #ff8e16; }

#footer {
  font-size: 12px;
  color: #656565;
  width: 100%;
  background: url("../images/footerBg.png") repeat-x 0 0;
  padding: 35px 0 70px;
  margin-top: 20px; }
  #footer > div {
    text-align: center;
    line-height: 28px; }

#live {
  width: 100%; }
  #live .live-video {
    width: 1300px;
    height: 632px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 30px auto; }
    #live .live-video .videoDiv {
      width: 960px;
      height: 630px; }
    #live .live-video .live-text {
      background-color: #f8f4e1;
      width: 333px;
      height: 630px;
      margin-left: 4px; }
      #live .live-video .live-text .text-top {
        direction: right;
        background-color: #896c49;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        color: #fff;
        height: 40px;
        font-size: 15px;
        line-height: 40px;
        overflow: hidden;
        text-align: center; }
      #live .live-video .live-text .text-middle {
        height: 510px;
        overflow-y: auto;
        overflow-x: hidden; }
        #live .live-video .live-text .text-middle ul {
          padding-top: 8px; }
          #live .live-video .live-text .text-middle ul li {
            margin-bottom: 8px; }
            #live .live-video .live-text .text-middle ul li .live-answer .answer-a {
              line-height: 26px;
              font-size: 13px;
              color: #2d2d2d;
              padding-left: 15px; }
              #live .live-video .live-text .text-middle ul li .live-answer .answer-a span {
                color: #000;
                font-weight: 500;
                margin-left: 5px; }
            #live .live-video .live-text .text-middle ul li .live-answer .answer-b {
              font-size: 14px;
              padding: 0 25px;
              word-wrap: break-word;
              /*遇到空格整个单词显示不完就自动换行到下一行*/
              word-break: break-all;
              /*如果一行没有空格就到头截断单词换行*/ }
      #live .live-video .live-text .text-bottom {
        height: 68px;
        width: 333px;
        position: relative;
        border: 1px solid #ccc;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        bottom: -10px; }
        #live .live-video .live-text .text-bottom .live-icon {
          width: 30px;
          height: 65px;
          padding-top: 5px;
          padding-left: 5px; }
          #live .live-video .live-text .text-bottom .live-icon #iconImg {
            width: 210px;
            border: 1px solid #e5e5e5;
            background-color: #fff;
            -webkit-border-radius: 5px;
                    border-radius: 5px;
            position: absolute;
            margin-top: -160px;
            display: none; }
            #live .live-video .live-text .text-bottom .live-icon #iconImg ul li {
              float: left;
              cursor: pointer; }
              #live .live-video .live-text .text-bottom .live-icon #iconImg ul li img {
                padding: 1px; }
        #live .live-video .live-text .text-bottom .live-reply {
          width: 240px;
          height: 65px;
          overflow-x: hidden;
          overflow-y: auto;
          padding-top: 5px;
          line-height: 22px;
          font-size: 14px; }
        #live .live-video .live-text .text-bottom .live-btn {
          width: 61px;
          height: 65px; }
          #live .live-video .live-text .text-bottom .live-btn a {
            background-color: #00b3c7;
            display: block;
            line-height: 66px;
            font-size: 15px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            -webkit-border-radius: 5px;
                    border-radius: 5px; }
          #live .live-video .live-text .text-bottom .live-btn a:hover {
            color: #000; }
