<link rel="stylesheet" type="text/css" href="./css/advheader.css">
<link rel="stylesheet" type="text/css" href="./css/global.css">
</head>

<body id="adviserbody">
    <div id="adviserth">
        <div class="adviser-header w980">
            <div class="adviser-top ">
                <ul>
                    <li><a href="javascript：void(0);">首页</a></li>
                    <li><a href="javascript：void(0);">登录</a></li>
                    <li><a href="javascript：void(0);">注册</a></li>
                    <li>欢迎您,***</li>
                </ul>
            </div>
            <div class="avdiser-logo">
                <a>
                    <img src="./images/91jin1.png" />
                </a>
            </div>
            <div class="phone">
                <img src="./images/Vtel_hj.jpg" />
            </div>
        </div>
    </div>