<div class="cpt">
    <div class="top"></div>
    <div class="con">
        <ul>
            <li>
                <a href="javascript:void(0);">在线咨询</a>
            </li>
            <li>
                <a href="javascript:void(0);">网上快速开户</a>
            </li>
            <li>
                <a href="javascript:void(0);">预约开户</a>
            </li>
            <li>
                <a href="javascript:void(0);">5秒模拟开户</a>
            </li>
            <li>
                <a href="javascript:void(0);">模拟大赛报名模拟大赛报名模拟大赛报名</a>
            </li>
             <li>
                <a href="javascript:void(0);">5秒模拟开户</a>
            </li>
             <li>
                <a href="javascript:void(0);">5秒模拟开户</a>
            </li>
        </ul>
    </div>
</div>