
        <link rel="stylesheet" type="text/css" href="./css/header.css">
        <link rel="stylesheet" type="text/css" href="./css/global.css">
    </head>

    <body>
        <div id="header">
            <div class="topNav">
                <div class="w980 top-text">
                    <div class="t-left">
                        <span><img src="./images/index_n_12.jpg"/></span>
                        <span>24小时客服热线:</span>
                        <span>4008-696-183</span>
                    </div>
                    <div class="t-right">
                        <span><img src="./images/index_n_14.jpg"/></span>
                        <span><a href='javascript:{ window.location.href = "http://" + window.location.host + "/website/login#login"}'>用户登录</a></span>
                        <span><img src="./images/index_n_15.jpg"/></span>
                        <span><a href='javascript:{ window.location.href = "http://" + window.location.host + "/website/login"}'>注册</a></span>
                        <a href="javascript:void(0);">欢迎您,***</a>
                        <a href="javascript:void(0);">手机版本</a>
                    </div>
                </div>
            </div>
            <div class="logoArea">
                <div class="area-center w980">
                    <span class="logo">
                        <a href="javascript:void(0);">
                            <img src="./images/91jin1.png" />
                        </a>
                    </span>
                    <span class="text-right">
                        <a href="javascript:void(0);">
                            <img src="./images/index_n_13.jpg"/>
                        </a>
                    </span>
                </div>
            </div>
            <div class="navgation">
                <div class="top-nav w980">
                    <ul>
                        <li><a href="javascript:void(0);">首页</a></li>
                        <li>
                            <a href="javascript:void(0);">贵金属投资</a>
                            <ul>
                                <li><a href="javascript:void(0);">投资特点</a></li>
                                <li><a href="javascript:void(0);">交易细则</a></li>
                                <li><a href="javascript:void(0);">亏盈计算</a></li>
                                <li><a href="javascript:void(0);">风险控制</a></li>
                                <li><a href="javascript:void(0);">贵金属百科</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">行情资讯</a>
                            <ul>
                                <li><a href="javascript:void(0);">行情中心</a></li>
                                <li><a href="javascript:void(0);">国鑫日评</a></li>
                                <li><a href="javascript:void(0);">分析研究</a></li>
                                <li><a href="javascript:void(0);">ETF持仓</a></li>
                                <li><a href="javascript:void(0);">财经日历</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">开户交易</a></li>
                        <li><a href="javascript:void(0);">服务大厅</a></li>
                    </ul>
                </div>
            </div>
        </div>
